@using AdityaSoftwares.Models
@model IEnumerable<Visitors>

    @{
    ViewData["Title"] = "Index";
}

@if (TempData["ResultOk"] != null)
{
    <h1 class="alert-success">@TempData["ResultOk"]</h1>
}

<div class="container shadow p-5">

    <div class="col mb-3">
        <a asp-controller="Visitors" asp-action="Create" class="btn btn-lg btn-primary"><i class="bi bi-file-plus-fill"></i>Add User</a>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Vistor ID</th>
                <th scope="col">Name</th>
                <th scope="col">Contact</th>
                <th scope="col">Email</th>
                 <th scope="col">Message</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td width="20%">
                        @item.Id
                    </td>
                    <td width="20%">
                        @item.Name
                    </td>
                    <td width="25%">
                        @item.email
                    </td>
                    <td width="20%">
                        @item.Contact
                    </td>
                     <td width="20%">
                        @item.Message
                    </td>
                    <td>
                        <div role="group" class="w-60 btn-group">
                            <a asp-controller="Visitors" asp-action="Edit" asp-route-id="@item.Id" class=" btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i>Edit</a>&nbsp;
                            <a asp-controller="Visitors" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i>Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>